.unstrip tr:nth-child(2n) {
    background-color: white;
}

.no-table-border tr, .no-table-border td {
    border: none !important;
}

.bg-white {
    background-color: white;
}

.report li {
    margin-bottom: 5px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
  } */